@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode background = same as dark mode background for now */
html {
    background-image: url('/figma/background/light.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

/* Dark mode background */
html.dark {
    background-image: url('/figma/background/dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

/* Default colors = light theme = same as dark theme for now */
:root {
    /* Background */
    --color-background: 0 0% 7%; /* #121212 */

    /* Jagger colors */
    --color-jagger: 285 68% 33%; /* #6b1a8c */
    --color-jagger-800: 285 68% 33%; /* #6b1a8c with 80% opacity */
    --color-jagger-500: 285 68% 33%; /* #6b1a8c with 56% opacity */
    --color-jagger-400: 285 68% 33%; /* #6b1a8c with 40% opacity */
    --color-jagger-300: 285 68% 33%; /* #6b1a8c with 27% opacity */
    --color-jagger-200: 285 68% 33%; /* #6b1a8c with 10% opacity */

    /* Other colors */
    --color-folly: 345 100% 65%; /* #ff4d7a */
    --color-aquamarine: 165 100% 55%; /* #00ffc4 */

    /* Milk colors */
    --color-milk: 39 100% 97%; /* #fff9f0ff */
    --color-milk-600: 39 100% 97% / 0.64; /* 64% opacity */
    --color-milk-400: 39 100% 97% / 0.4; /* 40% opacity */
    --color-milk-200: 39 100% 97% / 0.2; /* 20% opacity */
    --color-milk-150: 39 100% 97% / 0.1; /* 10% opacity */
    --color-milk-100: 39 100% 97% / 0.07; /* 7% opacity */
    --color-milk-50: 39 100% 97% / 0.02; /* 2% opacity */
}

/* Dark theme */
.dark {
    /* Background */
    --color-background: 0 0% 7%; /* #121212 */

    /* Jagger colors */
    --color-jagger: 285 68% 33%; /* #6b1a8c */
    --color-jagger-800: 285 68% 33%; /* #6b1a8c with 80% opacity */
    --color-jagger-500: 285 68% 33%; /* #6b1a8c with 56% opacity */
    --color-jagger-400: 285 68% 33%; /* #6b1a8c with 40% opacity */
    --color-jagger-300: 285 68% 33%; /* #6b1a8c with 27% opacity */
    --color-jagger-200: 285 68% 33%; /* #6b1a8c with 10% opacity */

    /* Other colors */
    --color-folly: 345 100% 65%; /* #ff4d7a */
    --color-aquamarine: 165 100% 55%; /* #00ffc4 */

    /* Milk colors */
    --color-milk: 39 100% 97%; /* #fff9f0ff */
    --color-milk-600: 39 100% 97% / 0.64; /* 64% opacity */
    --color-milk-400: 39 100% 97% / 0.4; /* 40% opacity */
    --color-milk-200: 39 100% 97% / 0.2; /* 20% opacity */
    --color-milk-150: 39 100% 97% / 0.1; /* 10% opacity */
    --color-milk-100: 39 100% 97% / 0.07; /* 7% opacity */
    --color-milk-50: 39 100% 97% / 0.02; /* 2% opacity */
}

@layer utilities {
    /* hide scrollbar for chrome, safari and opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        /* hide scrollbar for ie and edge */
        -ms-overflow-style: none;

        /* hide scrollbar for firefox */
        scrollbar-width: none;
    }
}

nextjs-portal {
    display: none;
}

.skeleton-loading {
    @apply relative overflow-hidden bg-milk-100;
}

.skeleton-loading::before {
    content: '';
    @apply absolute inset-0 animate-skeleton-move bg-gradient-to-r from-transparent via-background/50 to-transparent opacity-50;
    transform: translateX(-100%);
}
